$white: white;
$grey: #BBC8C8;
.postCard {
    background-color: $white;
    width: 300px;
    height: 440px;
    border-color: $grey;
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 30px;
    padding: 10px;
}

.imageWrapper {
    margin-bottom: 30px;
}