$white: white;
$grey: #8D8D8D;

.postCard {
    background-color: $white;
    min-height: 500px;
    border-color: $grey;
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}