.logo {
    width: 120px;
}

.loginBtn {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.loginBtn > :last-child {
    margin-left: 5px;
}
