$white: white;
$grey: #BBC8C8;

.postHero {
    background-color: $grey;
    width: 100%;
    border-color: $grey;
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}