$white: white;
$grey: #BBC8C8;
.postHero {
    background-color: $grey;
    width: 1000px;
    height: 500px;
    border-color: $grey;
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 50px;
    padding: 10px;
}