$grey: #BBC8C8;
.wrapper {
    width: 1000px;
    background-color: $grey;
    margin-bottom: 50px;
    transition: 1s;
}

.wrapperShow {
    margin-bottom: 50px;
    transition: 1s;
}

.button {
    background-color: $grey;
    border: none;
    margin: 10px;
}